table {    
    margin: 10px 0
}
td {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 0;
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    font-family: Lato;
    
}

h1,h2,h3 {
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 100;
    text-align: center;
}

.input {
    width:20%;
    margin: 0 auto;
}

.cover {
    width: 60%;
    margin: 0 auto;
}

body {
    background: linear-gradient(to right, rgb(33, 163, 0), rgb(49, 231, 13)) ;
}